@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  background: #23252c;
}

.container {
  padding: 2.5em 0;
  color: #ffffff;
}

.section-container {
  max-width: 50%;
  margin: 0 auto;
  background: #1a1b21;
  border: 1px solid transparent;
  border-radius: 0.8em;
  text-align: center;
}

.section-padding {
  padding: 1.8em 1.5em;
}

.footer {
  background: #161619;
  padding: 1em 0;
  border-radius: 0 0 0.8em 0.8em;
}

@media (min-width: 700px) {
  .section-container {
    width: 40%;
    max-width: 1084px;
  }
}

@media (min-width: 800px) {
  .section-container {
    width: 35%;
  }
}

@media (min-width: 1000px) {
  .section-container {
    width: 25%;
  }
}
